{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/movie_details.css') }}">
{% endblock %}

{% block body %}
<div class="details-container">
    <h1 class="details-title">{{ movie.title }}</h1>
    
    <div class="details-content">
        <img src="{{ tmdb_image_base }}{{ movie.poster_path }}" alt="{{ movie.title }}" class="details-poster">
        
        <div class="details-info">
            <p><strong>{{ 'Release Date:'|trans }}</strong> {{ movie.release_date }}</p>
            <p><strong>{{ 'Genres:'|trans }}</strong> 
                {% for genre in movie.genres %}
                    {{ genre.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>{{ 'Rating:'|trans }}</strong> {{ movie.vote_average }}/10</p>
            <p><strong>{{ 'Overview:'|trans }}</strong></p>
            <p class="details-overview">{{ movie.overview }}</p>
        </div>
    </div>

    <div class="details-actions">
        <a href="{{ path('app_index', {page: currentPage}) }}" class="details-btn">{{ 'Back to Home'|trans }}</a>
        {% if app.user and not movieAlreadyWatched %}
            <a href="{{ path('movie_watched_add', { id: movie.id, title: movie.title, poster_path: movie.poster_path }) }}" 
               class="details-btn">{{ 'Mark as watched'|trans }}</a>
        {% endif %}
    </div>
</div>
{% endblock %}
