{% extends 'base.html.twig' %}

{% block title %}{{ 'Movie Search'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/search_movies.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}">
{% endblock %}

{% block body %}
<div class="search-container">
    <h1 class="search-title">{{ 'Search for Movies'|trans }}</h1>

    <form method="get" action="{{ path('movie_search') }}" class="search-form">
        <input type="text" name="query" placeholder="{{ 'Search for a movie'|trans }}" 
               value="{{ query }}" class="search-input">

        <select name="genre" class="search-select">
            <option value="null">{{ 'None'|trans }}</option>
            {% for genre in genres %}
                <option value="{{ genre.id }}" {% if genre.id == selected_genre %}selected{% endif %}>
                    {{ genre.name }}
                </option>
            {% endfor %}
        </select>

        <select name="sort_by" class="search-select">
            <option value="popularity.desc" {% if sort_by == 'popularity.desc' %}selected{% endif %}>
                {{ 'Most Popular'|trans }}
            </option>
            <option value="popularity.asc" {% if sort_by == 'popularity.asc' %}selected{% endif %}>
                {{ 'Least Popular'|trans }}
            </option>
            <option value="release_date.desc" {% if sort_by == 'release_date.desc' %}selected{% endif %}>
                {{ 'Newest First'|trans }}
            </option>
            <option value="release_date.asc" {% if sort_by == 'release_date.asc' %}selected{% endif %}>
                {{ 'Oldest First'|trans }}
            </option>
        </select>

        <span class="search-year-label">{{ 'From'|trans }}</span>
        <input type="number" name="yearFrom" min="1800" max="2100" placeholder="{{ 'Enter start year'|trans }}" 
               value="{{ yearFrom == 0 ? '' : yearFrom }}" class="year-input">

        <span class="search-year-label">{{ 'to'|trans }}</span>
        <input type="number" name="yearTo" min="1800" max="2100" placeholder="{{ 'Enter end year'|trans }}" 
               value="{{ yearTo == 0 ? '' : yearTo }}" class="year-input">

        <button type="submit" class="search-btn">{{ 'Search'|trans }}</button>
    </form>

    {% if movies %}
        <h2 class="search-results-title">{{ 'Search Results:'|trans }}</h2>
        <ul class="search-results-list">
            {% for movie in movies %}
                <li class="search-result-item">
                    <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }}" 
                         class="search-result-poster">
                    <div class="search-result-details">
                        <strong class="search-result-title">{{ movie.title }}</strong> 
                        <span class="search-result-release-date">({{ movie.release_date }})</span>
                        <br>
                        {% if movie.alreadyWatched %}
                            <span class="search-result-watched">{{ 'Already Watched'|trans }}</span>
                        {% else %}
                            <a href="{{ path('movie_watched_add', { id: movie.id, title: movie.title, poster_path: movie.poster_path, query: query, yearFrom: yearFrom, yearTo:yearTo, sort_by:sort_by, page: currentPage, genre: selected_genre }) }}"
                               class="btn-watch">{{ 'Mark as watched'|trans }}</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-results-message">{{ 'No movies found. Try searching for something else.'|trans }}</p>
    {% endif %}
    {% if movies %}
        <div class="pagination">
        {% if currentPage > 1 %}
            <a href="{{ path('movie_search', (currentQuery ?? {})|merge({'page': currentPage - 1})) }}" class="pagination__prev">Précédent</a>
        {% else %}
            <span class="pagination__prev pagination__disabled">Précédent</span>
        {% endif %}

        {% for page in 1..totalPages %}
            {% if page == currentPage %}
                <span class="pagination__current">{{ page }}</span>
            {% else %}
                <a href="{{ path('movie_search', (currentQuery ?? {})|merge({'page': page})) }}" class="pagination__link">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {# Bouton suivant #}
        {% if currentPage < totalPages %}
            <a href="{{ path('movie_search', (currentQuery ?? {})|merge({'page': currentPage + 1})) }}" class="pagination__next">Suivant</a>
        {% else %}
            <span class="pagination__next pagination__disabled">Suivant</span>
        {% endif %}
    {% endif %}
</div>

</div>
{% endblock %}
