{% extends 'base.html.twig' %}

{% block title %}Movie Timeline{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('styles/styles/timeline.css') }}">

<h1>Movie Watched Timeline</h1>

<form method="get" action="{{ path('movie_timeline') }}" id="search-form">
    <input type="text" name="query" id="search-input" placeholder="Search for a movie..." autocomplete="off">
    <button type="submit">Search</button>
</form>

<div class="timeline">
    {% for movie in movies %}
        <div id="movie-{{ movie.id }}" class="timeline-item {% if loop.index is odd %}left{% else %}right{% endif %}">
            <div class="poster-wrapper">
                <img src="https://image.tmdb.org/t/p/w200{{ movie.posterPath }}" alt="{{ movie.title }}" class="poster">
            </div>
            <div class="details">
                <h3>{{ movie.title }}</h3>
                <p class="timeline-date">{{ movie.watchedAt|date('Y-m-d') }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
