{% extends 'base.html.twig' %}

{% block title %}{{ 'Your Watched Movies'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/watched_movies.css') }}">
{% endblock %}

{% block body %}
<div class="movies-container">
    <h2 class="movies-title">{{ 'Your Watched Movies'|trans }}</h2>
    <ul class="movies-list">
        {% for movie in movies %}
            <li class="movie-item">
                <img src="https://image.tmdb.org/t/p/w200{{ movie.posterPath }}" alt="{{ movie.title }}" class="movie-poster">
                <div class="movie-details">
                    <strong class="movie-title">{{ movie.title }}</strong>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
