{% extends 'base.html.twig' %}

{% block title %}{{ 'Your Watched Movies'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/watched_movies.css') }}">
{% endblock %}

{% block body %}
<div class="watched-container">
    <h2 class="watched-title">{{ 'Your Watched Movies'|trans }}</h2>
    <ul class="watched-list">
        {% for movie in movies %}
            <li class="watched-item">
                <img src="{{ tmdb_image_base }}{{ movie.posterPath }}" alt="{{ movie.title }}" class="watched-poster">
                <div class="watched-details">
                    <strong class="watched-movie-title">{{ movie.title }}</strong>
                    <form action="{{ path('movie_remove', { 'id': movie.id }) }}" method="POST" class="delete-form">
                        <button type="submit" class="delete-btn" aria-label="{{ 'Remove this movie'|trans }}">
                            &times; 
                        </button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
