{% extends 'base.html.twig' %}

{% block title %}{{ 'WatchThis'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
<main class="index-main">
    <section class="index-hero">
        <h1 class="index-hero-title">{{ 'Bienvenue sur WatchThis'|trans }}</h1>
        <p class="index-hero-subtitle">{{ 'Découvrez tous les films, les plus récents et les plus populaires.'|trans }}</p>
    </section>
    <section class="index-most-viewed">
        <h2 class="index-section-title">{{ 'Les films les plus vus du moment'|trans }}</h2>
        <div class="index-movies-grid">
            {% for movie in mostViewedMovies %}
                <div class="index-movie-card">
                    <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }}" class="index-movie-poster">
                    <h3 class="index-movie-title">{{ movie.title }}</h3>
                    <p class="index-movie-release-date">{{ 'Release date:'|trans }} {{ movie.release_date }}</p>
                    <p class="index-movie-overview">{{ movie.overview | slice(0, 100) ~ '...' }}</p>
                    <a href="{{ path('movie_details', { id: movie.id }) }}" class="index-btn-primary">{{ 'Film details'|trans }}</a>                          
                </div>
            {% else %}
                <p class="index-no-movies-message">{{ "Aucun film disponible pour l'instant."|trans }}</p>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
